@model Projekt_LiterallyCounting.Models.AllUserViewModel


<h2>All Users</h2>

<form id="addUserForm" asp-action="AddUser" method="post">
    <div>
        <label asp-for="newUser.Email">Email:</label>
        <input asp-for="newUser.Email" class="form-control" />
    </div>
    <div>
        <label asp-for="newUser.Password">Password:</label>
        <input asp-for="newUser.Password" type="password" class="form-control" />
    </div>
    <div>
        <label asp-for="newUser.IsAdmin">Is Admin:</label>
        <input asp-for="newUser.IsAdmin" type="checkbox" />
    </div>
    <div>
        <input type="submit" value="Benutzer Hinzufügen" />
    </div>
</form>

<div>
    @if (TempData["Message"] != null)
    {
        <p class="alert alert-success">@TempData["Message"]</p>
    }
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Email</th>
            <th>Password</th>
            <th>Is Admin</th>
            <th>Blocked</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (UserViewModel user in Model.allUsers)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.Password</td>
                <td>@(user.IsAdmin ? "Yes" : "No")</td>
                <td>@(user.Blocked ? "Yes" : "No")</td>
                <td>
                    <form asp-action="DeleteUser" asp-controller="Account" method="post">
                        <input type="hidden" name="userEmail" value="@user.Email" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                    @if (user.Blocked)
                    {
                        <form asp-action="UnblockUser" asp-controller="Account" method="post">
                            <input type="hidden" name="userEmail" value="@user.Email" />
                            <input type="submit" value="Unblock" class="btn btn-primary" />
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>