@* Grundaufbau:Robert Bearbeitet:Claire *@
@model Projekt_LiterallyCounting.Models.AllWordsViewModel

<h2>All Words</h2>

<form id="addWordForm" asp-action="AddWord" method="post">
    <div>
        <label asp-for="newWord.Word">Word:</label>
        <input asp-for="newWord.Word" class="form-control" />
    </div>
    <div>
        <label asp-for="newWord.Type">Typ:</label>
        <input asp-for="newWord.Type" class="form-control" />
    </div>
    <div>
        <label asp-for="newWord.Pos">Position:</label>
        <input asp-for="newWord.Pos" class="form-control" />
    </div>
    <div>
        <input type="submit" value="Wort Hinzufügen" />
    </div>
</form>

<div>
    @if (TempData["Message"] != null)
    {
        <p class="alert alert-success">@TempData["Message"]</p>
    }
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Word</th>
            <th>Position</th>
            <th>Type</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (WordViewModel word in Model.allWords)
        {
            <tr>
                <td>@word.Word</td>
                <td>@word.Pos</td>
                <td>@word.Type</td>
                <td>@word.Status</td>
                <td>
                    <form asp-action="DeleteWord" asp-controller="Account" method="post">
                        <input type="hidden" name="wordToDelete" value="@word.Word" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>